.edit-profile__password {
  text-align: center;
  margin-top: 50px;
  a {
    text-decoration: underline;
  }
}
.edit-profile__form {
  label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
  }
}
