.search__form {
  display: flex;
  position: relative;
  align-items: center;

  button {
    all: unset;
  }
  button {
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 16px;
    font-size: 18px;
  }
}
