extends base

block content
    if errorMessage
        span=errorMessage

    form(method="POST")
        input(name="username", placeholder="Username", type="text", requered)
        input(name="password", placeholder="Password", type="password", requered)
        input(type="submit", value="Login")
    hr
    div 
        span Don't have an account? 
        a(href="/join") Create one now &rarr;